<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- See http://www.mongodb.org/display/DOCS/CSharp+Driver+Tutorial#CSharpDriverTutorial-Connectionstrings for more info -->
    <add name="MongoServerSettings" connectionString="mongodb://readonly:turner@ds043348.mongolab.com:43348/dev-challenge" />
  <!--<add name="MongoServerSettings" connectionString="mongodb://localhost/MyDatabase" />-->
  </connectionStrings>
</configuration>